@charset "UTF-8";
/* line 3, ../sass/style.sass */
* {
  padding: 0;
  margin: 0;
  font-family: 微軟正黑體;
}

/* line 9, ../sass/style.sass */
body {
  background-image: url("http://cdn.worldscreen.com.tw/uploadfile/201505/goods_007915_140674.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 750px;
}

/* line 17, ../sass/style.sass */
.all {
  text-align: center;
  margin: 60px;
  padding: 100px 40px 0px 40px;
}

/* line 25, ../sass/style.sass */
.fonth1 {
  color: black;
  text-shadow: 0px 0px 10px skyblue, 1.5px 1.5px 10px skyblue, -1.5px -1.5px 10px skyblue, 1.5px -1.5px 10px skyblue, -2px 2px 10px skyblue;
  font-weight: 200;
  font-size: 60px;
}

/* line 33, ../sass/style.sass */
.fontp {
  color: black;
  text-shadow: 0px 0px 10px skyblue, 1.5px 1.5px 10px skyblue, -1.5px -1.5px 10px skyblue, 1.5px -1.5px 10px skyblue, -2px 2px 10px skyblue;
  font-size: 30px;
}
